<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Overdose_AdminPanel::overdose"
             title="Friends"
             translate="title"
             module="Overdose_AdminPanel"
             sortOrder="50"
             parent="Magento_Backend::content"
             action="overdose/friend/index"
             resource="Overdose_AdminPanel::overdose"/>
    </menu>
</config>
