<!-- Your seat reservations -->
<h2>Your seat reservations (<span data-bind="text: seats().length"></span>)</h2>

<!-- Seat reservations table -->
<table>
    <thead>
    <tr>
        <th>Passenger name</th>
        <th>Meal</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: { data: seats, as: 'seat' }">
    <tr>
        <td><input data-bind="value: seat.name" /></td>
        <td>
            <select data-bind="options: $parent.availableMeals, value: seat.meal, optionsText: 'mealName'"></select>
        </td>
        <td data-bind="text: seat.formattedPrice"></td>
        <td><a href="#" data-bind="click: $parent.removeSeat.bind($parent, seat)">Remove</a></td>
    </tr>
    </tbody>
</table>

<!-- Reservation buttons and controls -->
<button data-bind="click: addSeat, enable: seats().length < 100">Reserve another seat</button>
<button data-bind="click: removeAllSeats">Remove All</button>
<button data-bind="click: addMultipleSeats, enable: seats().length < 100">Reserve multiple seats</button>
<input type="number" min="4" data-bind="value: numberOfSeats" />
<div data-bind="text: validationMessage"></div>

<!-- Total price of all meals -->
<p>Total price of all meals: <span data-bind="text: totalMealPrice"></span></p>
