<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Alex\AskQuestion\Model\ResourceModel\AskQuestion\Grid\CollectionVirtual"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">alex_ask_question</argument>
            <argument name="resourceModel" xsi:type="string">Alex\AskQuestion\Model\ResourceModel\AskQuestion</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="alex_ask_question_listing_data_source" xsi:type="string">
                    Alex\AskQuestion\Model\ResourceModel\AskQuestion\Grid\CollectionVirtual
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ask_question_product_qty" xsi:type="object">
                    Alex\AskQuestion\Console\Command\ProductQty
                </item>
            </argument>
        </arguments>
    </type>
</config>
