<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="friend_model_event_stuff_load_before">
        <observer name="showing_off_events_courses" instance="Overdose\PluginsAndObservers\Observer\ModelLoad"/>
    </event>
</config>
